#anchorp,#new_account,#cus_dash{
    -fx-background-color: linear-gradient( to bottom, #76FF03 25%, #0336FF 100%);
 }
#main_pane{
-fx-background-color:#212121;
}
#new_account_window{
    -fx-background-color: linear-gradient( to bottom, #76FF03 25%, #0336FF 100%);
}

#MenButton{
    -fx-background-color:#0336FF;


}